.content{
            width: 100%;
        }
        .userblock{
            float: left;
            display: inline-block;
            width: 20%

        }
        .posts{
            border: 3px solid red;
            margin-bottom: 20px;
        }
        .posts  .post{
            margin: 10px 20px;
            background-color: aquamarine;
            position: relative;
        }
        .like{
            position: absolute;
            bottom: 0;
            right: 0;
        }
        .like .checked{
            background-color: cadetblue;
        }
        .remove{
            position: absolute;
            top: 0;
            right: 0;
        }

        .maincontent{
            float: left;
            display: inline-block;
            background-color: #ccc;
            width: 70%;

        }
        .clearfix:after {
             content: ".";
             display: block;
             height: 0;
             clear: both;
             visibility: hidden;
        }
        .clearfix {
            display: inline-block;
        }

        .user{
            border: 2px solid #ddd;
            margin: 20px;
        }