<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="icon" href="/static/images/favicon.ico">
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
<p><a href="/logout/">Выйти</a></p>
<p><a href="/">На главную</a></p>
<div class="content clearfix">
    <div class="userblock">
        <h2>Blogger</h2>
        <p>{{ name }}</p>
        <p>{{ lname }}</p>
        <p>{{ username }}</p>
    </div>
    <div class="maincontent">
        <form action="/post/" method="POST">
            <p>Title<input type="text" name="title"></p>
            <p>text <textarea name="text" id="" cols="30" rows="10"></textarea></p>
            <p>Дата публикации <input type="date" name = "date" value = "{{date}}"></p>
            <p>Время публикации <input type="time" name = "time" value = "{{time}}"></p>
            <p><input type="submit"></p>
        </form>
        <hr>
        <h2>POSTS</h2>
        <div class="posts">
            {{ posts }}
        </div>

    </div>
</div>
</body>
</html>