<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    <form action="/posts/edit/{{id}}/" method="POST">
        <p>Title<input type="text" name="title" value="{{title}}"></p>
        <p>text <textarea name="text" id="" cols="30" rows="10" >{{text}}</textarea></p>
        <p>Дата публикации: <input type="date" name = "date" value="{{date}}"></p>
        <p>Дата публикации: <input type="time" name = "time" value="{{time}}"></p>
        <p><input type="submit"></p>
    </form>
</body>
</html>