<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>AskarBlog</title>
    <link rel="stylesheet" href="static/css/style.css">
</head>
<body>
{% if auth %}
    <p><a href="/logout/">Выйти</a></p>
{% else %}
    <p><a href="/admin/">Войти</a></p>
    <p><a href="/register/">Зарегся</a></p>
{% endif %}
    <div class="content clearfix">
        <div class="userblock">
            <div class="users">
                <h2>Блоггеры</h2>
                {{users}}
            </div>
        </div>
        <div class="maincontent">
            <div class="posts">
                {{ posts_html}}
            </div>
        </div>
    </div>

</body>
</html>