<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/static/css/style.css/">
</head>
<body>
<p><a href="/">На главную</a></p>
<h1>{{ msg}}</h1>
    <form action="" method="POST">
        <p>Username <input type="text" name="username"></p>
        <p>Password <input type="password" name="password"></p>
        <p><input type="submit"></p>
    </form>
</body>
</html>