<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
<div class="posts">
    <p><a href="/">Back</a></p>
    <div class="post">
        <h2>{{ title }}</h2>
        <p>{{ text }}</p>
        <div class="date">Дата создания: {{ dateCreate }}</div>
        {% if author %}
            <a class="remove" href="/posts/delete/{{id}}/">Удалить</a>
            <div class="datetime">Дата редактирования: {{ dateEdit }}</div>
            <a href="/posts/edit/{{id}}/" class="edit">Редактировать</a>
        {% endif %}

    </div>
</div>






</body>
</html>