<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/static/css/style.css">
    <script src="/static/js/profile.js"></script>
</head>
<body>



<img src="/static/images/images.jpg" alt="">
<p><a href="/">На главную</a></p>
<div class="content clearfix">
    <div class="userblock">
        <h2>Blogger</h2>
        <p>Name: {{ name }}</p>
        <p>Last name: {{ lname }}</p>
        <p>Username: {{ username }}</p>
        <h2>Блоггеры</h2>
        {{ users_html }}
    </div>
    <div class="maincontent">
        <h2>POSTS</h2>
        <div class="posts">
            {{ posts }}
        </div>
    </div>
</div>
</body>
</html>