<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
</head>
<body>
<img src="/static/images/asd" alt="">
<form action="" method="POST" enctype="multipart/form-data">
    <h2>{{msg}}</h2>
    <p>
        Name:
        <input type="text" name = 'name' value="{{name}}">
    </p>
    <p>
        last name:
    <input type="text" name = 'lname' value="{{lname}}">
        </p>
    <p>
        username:
        <input type="text" name = 'username'>
    </p>
    <p>
        password:
        <input type="password" name = 'password'>
    </p>
    <p><input type="file" name = "picture"></p>
    <p>
        <input type="submit">
    </p>

</form>
</body>
</html>